<h1><%= @movie.title %></h1>
<p><b>Genre:  <%= @movie.genre %></b></p>

<% @movie.actors.each do |actor| %>
<p><b>Actor:  <%= actor.name %></b></p>

<% end %>

<p><b>Rating:  <%= @movie.rating %></b></p>
<p><b>Description:  <%= @movie.description %></b></p>

<p><%= link_to "Edit Movie", edit_movie_path %> | <%= link_to "Add Another Movie", new_movie_path %> | <%= link_to "Add an Actor", new_actor_path %>
<%= button_to "Delete Movie", movie_path(@movie), method: :delete %>
