<h2> Add a new role for actor... <%= @role.category %> </h2>

<%= form_for @role do |f| %>
  <%= f.label :Actor %>
  <div><%= f.collection_select :actor_id, Actor.all, :id, :name, prompt: true %></div>
  <%= f.label :Movie %>
  <div><%= f.collection_select :movie_id, Movie.all, :id, :title, prompt: true %></div>
  <%= f.label :Category %>
  <div><%= f.text_field :category %></div><br>
  <%= f.submit "Create Role" %>
<% end %>
